.tray {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titleBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.15rem 0.5rem;
    padding-right: 0;
    /* min-height: 2.5rem; */

    background-color: #f9fafb;
    border-bottom: 1px solid #e5e7eb;

    flex-shrink: 0;
}

.title {
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
    text-transform: capitalize;
    vertical-align: baseline;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titleBarActions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}