.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    overflow: auto;
}

.row {
    display: flex;
    flex: 1;
    align-items: center;
    /* border-bottom: 1px solid #e5e7eb; */
}

.label {
    flex: 0 0 var(--settings-column-width, 50px);
    min-width: calc(var(--settings-column-min-width) * 1px);
    max-width: calc(var(--settings-column-max-width) * 1px);
}

.resizerVertical {
  width: 2px;
  cursor: col-resize;
  background: transparent;
  transition: background 0.2s;
  flex-shrink: 0;
  align-self: stretch;
}

.resizerVertical:hover .resizerHorizontal:hover {
  background: rgba(0, 0, 0, 0.1);
}