@import "../../SettingsComponents/SettingsPanel/SettingsPanel.module.css";

.numberSetting {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .input {
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    padding-right: 2rem;
}


/* Hide native spinners - we have custom ones */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.spinners {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--setting-border-color);
}
/* Without position: absolute - spinners would push input */
/* Without flex-direction: column - buttons wouldn't stack */

/* ==================================================================
   SPINNER BUTTON - Individual up/down button
   ================================================================== */
.spinnerButton {
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: #ffffff;
  color: #6b7280;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
  outline: none;
}
/* Without flex: 1 - buttons wouldn't split height equally */

.spinnerButton:first-child {
  border-bottom: 1px solid var(--setting-border-color);
  border-radius: 0  0 0;
}
/* Top button gets top-right border radius */

.spinnerButton:last-child {
  border-radius: 0 0 var(--setting-border-radius) 0;
}
/* Bottom button gets bottom-right border radius */

.spinnerButton:hover:not(:disabled) {
  background-color: #f3f4f6;
  color: #3b82f6;
}

.spinnerButton:active:not(:disabled) {
  background-color: #e5e7eb;
}

.spinnerButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.spinnerButton:focus-visible {
  background-color: #eff6ff;
  color: #3b82f6;
  z-index: 1;
}