name: Deploy backend to staging

on:
  push:
    branches:
      - staging
    paths: 
      - "backend/**"
      - "shared/**"
      - ".github/workflows/backend_staging.yaml"

jobs:
  deploy-backend-to-staging:
    runs-on: stage

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build shared
        run: pnpm build:shared

      - name: Build backend
        run: pnpm build:backend

      - name: Deploy backend
        run: |
          sudo rm -rf /opt/church/rock-and-scroll/backend
          sudo mkdir -p /opt/church/rock-and-scroll/  
          sudo pnpm deploy --filter rock-and-scroll-backend /opt/church/rock-and-scroll/backend

      - name: Restart backend service
        run: sudo systemctl restart rock-and-scroll
