name: Deploy frontend to production

on:
  push:
    branches:
      - production
    paths:
      - "frontend/**"
      - "shared/**"
      - ".github/workflows/frontend_production.yaml"

jobs:
  deploy-frontend-to-production:
    runs-on: stage

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm build:frontend --mode production

      - name: Deploy to S3 bucket
        run: |
          aws s3 sync frontend/dist/ s3://rock-and-scroll/ \
          --delete \
          --cache-control "public,max-age=31536000,immutable" \
          --exclude "index.html"

          aws s3 cp frontend/dist/index.html s3://rock-and-scroll/index.html \
          --cache-control "no-cache,no-store,must-revalidate" \
          --content-type "text/html"