name: Deploy frontend to staging

on:
  push:
    branches:
      - staging
    paths: 
      - "frontend/**"
      - "shared/**"
      - ".github/workflows/frontend_staging.yaml"

jobs:
  deploy-frontend-to-staging:
    runs-on: stage

    steps:
      - name: Place holder
        run: echo "Deploy to s3"
